<section>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="password">Nova senha</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Nova senha"
        class="form-control" />
      <small *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error-text">
        A senha deve ter pelo menos 6 caracteres
      </small>
    </div>
  
    <div class="form-group">
      <label for="confirmPassword">Confirme a nova senha</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Confirme a nova senha"
        class="form-control" />
      <small *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" class="error-text">
        A confirmação de senha é obrigatória
      </small>
    </div>
  
    <button
      type="submit"
      [disabled]="form.invalid || isSubmitting"
      class="submit-button">
      {{ isSubmitting ? 'Processando...' : 'Redefinir Senha' }}
    </button>
    <div *ngIf="success" class="alert success">{{ success }}</div>
    <div *ngIf="error" class="alert error">{{ error }}</div>
  </form>
  
</section>